@charset "utf-8";
.contact{
    padding: 90px 0 60px;
    color: #5a5c5f;
}
.contact-title{
    margin-bottom: 15px;
}
.contact-form{
    margin: 0 auto;
}
.contact-form{
    text-align: center;
}
.contact-form h3{
    margin-top: 20px;
    margin-bottom: 5px;
    color: #4c4e52;
}
input, textarea{
    font-size: 15px;
    width: 400px;
    padding: 2px 4px;
    margin-bottom: 10px;
}
.submit-button{
    margin: 20px auto;
    font-size: 18px;
    width: 100%;
    background-color:#e0c0a1;
    color: #4c4e52;
    border: none;
    height: 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #cdcdcd;
}