@charset "utf-8";
.menu{
    padding: 90px 0 60px;
    color: #5a5c5f;
}
.menu-card{
    width: 33%;
    margin-top:35px;
}
.menu-card-inner{
    padding: 25px 30px;
    background-color: #fbf0e7;
    border-radius: 7px;
    text-align: center;
    margin: 0 20px;
}
.menu-image{
    width: 100%;
    margin-bottom: 8px;
    border-radius: 5px;
}
.menu-title{
    margin-bottom: 8px;
}
.menu-text{
    font-size: 14px;
}
.menu-card-wrapper{
    display: flex;
    flex-wrap: wrap;
}